<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div>
                        <form method="get" action="/" class="form-horizontal">
                            <div class="form-group has-label">
                                <label>                              
                                </label>
                                <textarea placeholder="Type a text..." style="height: 180px" class="form-control"></textarea>                          
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
          <card>
            <p style="font-weight: bold; font-size: 18px;">
                Options
            </p>
            <table>
              <tr>
                <td>
                    <div class="form-check">
                        <label for="stop" class="form-check-label">
                            <input id="stop" type="checkbox" class="form-check-input"> <span class="form-check-sign"></span></label> <span></span></div>
                </td>
                <td>Use stop words</td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <label for="punc" class="form-check-label">
                            <input id="punc" type="checkbox" class="form-check-input"> <span class="form-check-sign"></span></label> <span></span></div>
                </td>
                <td>Remove punctuations</td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <label for="norm" class="form-check-label">
                            <input id="norm" type="checkbox" class="form-check-input"> <span class="form-check-sign"></span></label> <span></span></div>
                </td>
                <td>Normalize</td>
            </tr>
            </table>
            <div class="footer">
              <hr>
              <div class="stats">
                &nbsp;
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import ChartCard from 'src/components/UIComponents/Cards/ChartCard.vue'
  import StatsCard from 'src/components/UIComponents/Cards/StatsCard.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import LTable from 'src/components/UIComponents/Table.vue'
  import Checkbox from 'src/components/UIComponents/Inputs/Checkbox.vue'
  export default {
    components: {
      Checkbox,
      Card,
      LTable,
      ChartCard,
      StatsCard
    },
    data () {
      return {}
    }
  }
</script>
<style>
</style>